*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  font-family: system-ui;

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(39, 50, 50);

}

.app{
  box-shadow: 0 0 5px #fff;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
  text-align: center;
}

h2{
  font-size: 40px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 20px;
}
input{
  width: 300px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 20px;
}
button{
  font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #fff;
    margin-left: 20px;
}
h3{
  margin: 10px 0;
    text-align: left;
    color: #fff;
    font-weight: normal;
    font-size: 25px;
}
p{
  color: #fff;
  margin-bottom: 10px;
  text-align: left;
  font-size: 20px;
}